/fisio_active/node_modules/.cache
/fisio_active/node_modules/.cache
/fisio_active/node_modules
fisio_active/node_modules/.cache/.eslintcache
fisio-backend/.env
/fisio_active/node_modules
/fisio_active/node_modules/.cache
fisio_active/node_modules/.cache/default-development/8.pack
fisio_active/node_modules/.cache/default-development/8.pack
/fisio_active/node_modules
fisio_active/node_modules/.cache/.eslintcache
fisio_active/node_modules/.cache/.eslintcache
fisio_active/node_modules/.cache/.eslintcache
fisio_active/node_modules/.cache/default-development/0.pack
fisio_active/node_modules/.cache/default-development/1.pack
fisio_active/node_modules/.cache/default-development/10.pack
fisio_active/node_modules/.cache/default-development/11.pack
fisio_active/node_modules/.cache/default-development/12.pack
fisio_active/node_modules/.cache/default-development/3.pack
fisio_active/node_modules/.cache/default-development/4.pack
fisio_active/node_modules/.cache/default-development/5.pack
fisio_active/node_modules/.cache/default-development/6.pack
fisio_active/node_modules/.cache/default-development/7.pack
fisio_active/node_modules/.cache/default-development/8.pack
fisio_active/node_modules/.cache/default-development/9.pack
fisio_active/node_modules/.cache/default-development/index.pack
fisio_active/node_modules/.cache/default-development/index.pack.old
fisio_active/node_modules/.package-lock.json
